# Extract Golf Score Tag Heuer

This program extract data form tag Heuer json file. The data extracted is for 1 payer (email, or name give as a key).

The outcome will be:
- row number
- round id
- round date
- course
- player index
- hole
- handicap
- par (normal for the hole)
- strokes
- putts
- penalties
- fairwayHit
- bunkerHit


The Class will implement a fit transform method. Initialization will be done with the json file.
Init mthod read the json and normalize.
Fit method prepare features.
Transform returns pandas dataset with all holes payed.

In [1]:
import pyforest

In [2]:
class TagHeuerData:
    def __init__(self, data = None, player = None):
        self.data = data
        self.player = player
    
        
    def extractRounds(self):
        self.email = data.email
        self.rounds = pd.json_normalize(self.data.rounds)
        self.rounds = self.rounds.T
        self.rounds.columns = ['round']
        return self.rounds
            
    def get_playerDetail(self):
        try:
            return data.email[0], data.firstname[0], data.lastname[0], data.handicap[0]
        except:
            return False

In [4]:

import json
from pandas.io.json import json_normalize
from collections import OrderedDict

with open('data/user.json') as data_file:
    data = json.load(data_file, object_pairs_hook=OrderedDict)
    data=pd.json_normalize(data)

In [5]:
tag = TagHeuerData(data,'Daryl')

In [6]:
tag.get_playerDetail()

('resquatordaryl@gmail.com', 'Daryl', 'Felix', 11.5)

In [7]:
tag.extractRounds()

                                                round
0   {'club': 'Golf de Gonville', 'course': '', 'st...
1   {'club': 'Golf Club Montreux', 'course': 'Golf...
2   {'club': 'Golf Parc du Signal de Bougy', 'cour...
3   {'club': 'Golf Club Montreux', 'course': 'Golf...
4   {'club': 'Golf Club Montreux', 'course': 'Golf...
..                                                ...
65  {'club': 'Golf de Gonville', 'course': '', 'st...
66  {'club': 'Golf de Gonville', 'course': '', 'st...
67  {'club': 'Golf de Gonville', 'course': '', 'st...
68  {'club': 'Golf de Gonville', 'course': '', 'st...
69  {'club': 'Golf de Gonville', 'course': '', 'st...

[70 rows x 1 columns]

In [8]:
courses = pd.json_normalize(data.downloaded_courses).T
courses.columns = ['course']
pd.json_normalize(courses.loc[0,:])

             club             course
0  Golf de Lavaux  Parcours 18 trous

In [9]:
data

,uuid,email,firstname,lastname,gender,birthdate,country,handicap,handicap_set,newsletter_subscriber,...,club_equipments,rounds,hole_notes,players,downloaded_courses,preferences.measurement_system,preferences.prefers_watch_gps,preferences.watch_target,preferences.hole_tracking,preferences.auto_shot_enabled
0,3e3c99a1-ed3c-445d-a55d-c00a8158361a,resquatordaryl@gmail.com,Daryl,Felix,m,1966-05-01,CH,11.5,True,False,...,"[{'key': '409956|wood-5-0', 'distance': 165.0,...","[{'club': 'Golf de Gonville', 'course': '', 's...",[],[],"[{'club': 'Golf de Lavaux', 'course': 'Parcour...",meters,False,green,automatic,None

In [10]:
data.rounds

0    [{'club': 'Golf de Gonville', 'course': '', 's...
Name: rounds, dtype: object

In [11]:
rounds = pd.json_normalize(data.rounds)

In [12]:
rounds = rounds.T
rounds.columns = ['round']
rounds

                                                round
0   {'club': 'Golf de Gonville', 'course': '', 'st...
1   {'club': 'Golf Club Montreux', 'course': 'Golf...
2   {'club': 'Golf Parc du Signal de Bougy', 'cour...
3   {'club': 'Golf Club Montreux', 'course': 'Golf...
4   {'club': 'Golf Club Montreux', 'course': 'Golf...
..                                                ...
65  {'club': 'Golf de Gonville', 'course': '', 'st...
66  {'club': 'Golf de Gonville', 'course': '', 'st...
67  {'club': 'Golf de Gonville', 'course': '', 'st...
68  {'club': 'Golf de Gonville', 'course': '', 'st...
69  {'club': 'Golf de Gonville', 'course': '', 'st...

[70 rows x 1 columns]

In [13]:
round = pd.json_normalize(rounds.loc[1,'round'])
round

,club,course,startedAt,finishedAt,eventName,scoringSystem.game,scoringSystem.scoring,scoringSystem.handicapSystem,scoringSystem.hcpSystem,scoringSystem.useForHandicap,scoringSystem.pcc,scorecard.players
0,Golf Club Montreux,Golf Club Montreux,1.589718e+09,1.589736e+09,None,strokePlay,toPar,EGA3,EGA3,None,None,"[{'roundPlayer': {'firstName': 'Daryl', 'lastN..."

In [14]:
round.dtypes

club                             object
course                           object
startedAt                       float64
finishedAt                      float64
eventName                        object
scoringSystem.game               object
scoringSystem.scoring            object
scoringSystem.handicapSystem     object
scoringSystem.hcpSystem          object
scoringSystem.useForHandicap     object
scoringSystem.pcc                object
scorecard.players                object
dtype: object

In [15]:
from datetime import datetime

datetime.fromtimestamp(round.startedAt).strftime('%Y-%m-%d')

/var/folders/nn/fc05h9652z16vkxq7x5q5klw0000gn/T/ipykernel_16243/1664334704.py:3: DeprecationWarning: an integer is required (got type Series).  Implicit conversion to integers using __int__ is deprecated, and may be removed in a future version of Python.
  datetime.fromtimestamp(round.startedAt).strftime('%Y-%m-%d')

'2020-05-17'

In [16]:
scorecard = pd.json_normalize(round['scorecard.players'])
scorecard.columns = ['scorecard']
scorecard

                                           scorecard
0  {'scores': [{'holeNumber': 5, 'date': 15897238...

In [17]:
score = pd.json_normalize(scorecard.scorecard)

In [18]:
score

,scores,shotTrails,roundPlayer.firstName,roundPlayer.lastName,roundPlayer.email,roundPlayer.pictureUUID,scoringInfo.tee,scoringInfo.deciIndex
0,"[{'holeNumber': 5, 'date': 1589723844.413, 'sc...",[],Daryl,Felix,resquatordaryl@gmail.com,None,Jaune,120

In [19]:
score_round = pd.json_normalize(score.scores)
score_round = score_round.T
score_round.columns = ['round_score']
score_round

                                          round_score
0   {'holeNumber': 5, 'date': 1589723844.413, 'sco...
1   {'holeNumber': 3, 'date': 1589722489.96, 'scor...
2   {'holeNumber': 1, 'date': 1589720352.0700002, ...
3   {'holeNumber': 2, 'date': 1589720948.648, 'sco...
4   {'holeNumber': 4, 'date': 1589723065.088, 'sco...
5   {'holeNumber': 8, 'date': 1589726585.282, 'sco...
6   {'holeNumber': 6, 'date': 1589724745.915, 'sco...
7   {'holeNumber': 14, 'date': 1589731677.437, 'sc...
8   {'holeNumber': 7, 'date': 1589725950.201, 'sco...
9   {'holeNumber': 13, 'date': 1589731011.071, 'sc...
10  {'holeNumber': 15, 'date': 1589732745.1490002,...
11  {'holeNumber': 12, 'date': 1589729894.459, 'sc...
12  {'holeNumber': 9, 'date': 1589727340.758, 'sco...
13  {'holeNumber': 10, 'date': 1589728869.342, 'sc...
14  {'holeNumber': 16, 'date': 1589733965.026, 'sc...
15  {'holeNumber': 17, 'date': 1589735269.155, 'sc...
16  {'holeNumber': 18, 'date': 1589735698.227, 'sc...
17  {'holeNumber': 11, 'date': 1589729293.2979999,...

In [20]:
for idx, r in score_round.iterrows():
    hole_score = pd.json_normalize(r.round_score)
    print(hole_score['holeNumber'][0],hole_score['score.strokes'][0])

5 4

3 4

1 6

2 5

4 3

8 3

6 5

14 5

7 7

13 5

15 7

12 4

9 3

10 6

16 5

17 5

18 6

11 5

In [21]:
hole_score

,holeNumber,date,score.strokes,score.putts,score.penalties,score.fairwayHit,score.bunkerHit
0,11,1.589729e+09,5,2,0,None,None